.containerCartPage {
    height: 100%;
    width: 100%;
    background-color: aliceblue;
    z-index: 0;
}

.cartPageHeader {
    display: grid;
    grid-template: 1fr / 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 3;
    background: rgb(255, 247, 246);
    height: 80px;
}

.cartButton {
    width: 180px;
}

.cartHeader {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: black;
    position: relative;

}

.cartHeader h2 {
    position: relative;
    left: 1.65%;
}

.cartButton {
    position: relative;
}

.cartBody {
    color: black;
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2%;
}

.cartBodyEmpty {
    color: black;
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cartBodyEmpty h2 {
    font-size: 1.8rem;
}

.cartElement {
    height: 50%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
    border-radius: 12px;
    width: 20%;
    box-shadow: 0px 0px 50px -20px grey;
}



@media (max-width: 500px) {


    .containerCartPage {
        height: 1200px;
    }
    .cartPageHeader {
        height: 131.27px;
    }

    .cartHeader {
        padding-top: 10px;
        display: flex;
        flex-direction: column;
        height: 120px;
        justify-items: center;
        gap: 10px;
    }

    .cartHeader h2 {
        display: none;
    }

    .cartBodyEmpty {
        height: 600px;
    }

    .cartElement {
        width: 80%;
    }

    .cartBody {
        flex-direction: column;
        height: 70%;
        padding-top: 20px;
        justify-content: space-evenly;
    }

}
